@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.Navbar {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  min-height: 125px;
  background-color: #6f6565;
  border-bottom: 7px solid #ee5351;
}
.Navbar .Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.Navbar .Logo img {
  width: 75px;
}
.Navbar .button-menu {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px 15px 0 0;
}

.Navbar-Links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Navbar-Links ul {
  display: flex;
  list-style: none;
  justify-content: end;
}
.Navbar-Links ul a {
  margin: 10px 30px 0 10px;
  text-decoration: none;
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 4px 5px 4px 5px;
  transition: 0.3s ease;
  cursor: pointer;
  border-bottom: 5px solid transparent;
}
.Navbar-Links ul a:hover {
  color: #bf3a3a;
  border-bottom: 3px solid #bf3a3a;
}
.Navbar-Links ul a:active {
  color: #bf3a3a;
  border-bottom: 3px solid #bf3a3a;
}

.Home {
  min-height: 100vh;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.3fr 0.3fr;
}

.H_main {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Home-Brackgroundd.jpg);
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 7px solid #ee5351;
  max-height: 85vh;
  min-height: 85vh;
}
.H_main .H_title {
  margin-bottom: 200px;
  margin-left: 130px;
  font-size: 3rem;
  color: #ee5351;
  font-weight: bolder;
  border-bottom: 2px solid #b73939;
  position: absolute;
  font-family: "Quicksand", sans-serif;
}
.H_main .H_text {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 130px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
}
.H_main .H_contact {
  display: flex;
  margin: 200px 0 0 165px;
}
.H_main .H_contact button {
  padding: 15px 28px;
  background-color: #bc4442;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}
.H_main .H_contact button:hover {
  box-shadow: 0 0 30px #cf2421;
}
.H_main .H_contact button a {
  text-decoration: none;
  list-style-type: none;
}

.Content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Content .C_header {
  padding: 25px 0 50px 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Content .C_header .C_title {
  font-size: 2rem;
  font-weight: bold;
}
.Content .C_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}
.Content .C_products .Product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Content .C_products .Product p {
  padding: 15px 0 0 0;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.Content .C_products .Product .P_icon {
  width: 100px;
}
.Content .C_reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  padding: 0 0 100px 0;
}
.Content .C_reviews .Review {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  padding: 10px;
  align-items: center;
  justify-items: center;
}
.Content .C_reviews .Review p {
  padding: 15px 0 0 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.Content .C_reviews .Review .R_box p {
  font-size: 1rem;
}
.Content .C_reviews .R_icon {
  width: 100px;
}

.hr {
  border-bottom: 1px solid gray;
  padding: 10px 0 25px 0;
}

.Product_home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  min-height: 100vh;
  background: white;
}
.Product_home .P_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 50px 0;
  font-size: 2rem;
}
.Product_home .P_header .P_category {
  font-size: 2rem;
  font-weight: bold;
}
.Product_home .P_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80%;
  justify-self: center;
  padding: 10px;
}
.Product_home .P_content .P_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 1px solid gray;
  border-radius: 8px;
}
.Product_home .P_content .P_product .P_img {
  width: 150px;
  border-radius: 50%;
  padding: 10px;
}
.Product_home .P_content .P_product div {
  display: flex;
  flex-direction: column;
}
.Product_home .P_content .P_product div .P_title {
  font-size: 1rem;
  margin: 0 20px;
  font-weight: 600;
}
.Product_home .P_content .P_product .P_price {
  font-weight: bold;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}
.Product_home .P_content .P_product button {
  margin: 10px;
  padding: 0.5rem 4rem;
  background-color: #cf2421;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.Product_home .P_content .P_product button .P_cart_icon {
  width: 25px;
}

.Contact_home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  width: 100%;
  min-height: 100vh;
  background: white;
}
.Contact_home .C_header {
  padding: 25px 0 50px 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact_home .C_header .C_title {
  font-size: 2rem;
  font-weight: bold;
}
.Contact_home .C_form {
  display: flex;
  justify-content: center;
}
.Contact_home .C_form div form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid black;
  width: 500px;
}
.Contact_home .C_form div form .F_element {
  padding: 10px 0 10px 0;
  width: 400px;
  margin: 0 25px;
}
.Contact_home .C_form div form .F_element input {
  width: 400px;
}
.Contact_home .C_form div form .F_element textarea {
  resize: none; /* Deshabilita el redimensionamiento */
  width: 100%;
  min-height: 200px;
}
.Contact_home .C_form div form .F_element p {
  padding: 0 0 10px 0;
  font-weight: 600;
}
.Contact_home .C_form div form .F_element label {
  font-weight: 600;
}
.Contact_home .C_form div form .F_submit {
  background-color: #cf2421;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 80px;
  font-weight: 600;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  height: 120px;
  background-color: #6f6565;
  border-top: 7px solid #ee5351;
  display: flex;
  justify-content: center;
}
.footer p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 768px) {
  .H_main .H_title {
    margin: 0 8rem 13rem 4rem;
  }
  .H_main .H_text {
    margin: 10px 0 0 6rem;
  }
  .H_main .H_contact {
    margin: 200px 0 0 7rem;
  }
  .Content .C_header .C_title {
    font-size: 1.7rem;
  }
  .Content .C_products {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Content .C_products .Product p {
    font-size: 1.6rem;
  }
  .Content .C_reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Content .C_reviews .Review p {
    font-size: 1.2rem;
  }
  .Product_home .P_content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .Product_home .P_content .P_product {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.1fr 0.2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 5px 5px 10px 5px;
    border: 1px solid gray;
    border-radius: 8px;
  }
  .Product_home .P_content .P_product .P_img {
    width: 100px;
    border-radius: 50%;
    padding: 10px;
  }
  .Product_home .P_content .P_product button {
    margin: 10px;
    padding: 2rem 0.5rem;
    background-color: #cf2421;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .Product_home .P_content .P_product button .P_cart_icon {
    width: 25px;
  }
  .Product_home .P_content .P_product div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .Product_home .P_content .P_product div .P_title {
    font-size: 0.8rem;
    margin: 0 20px;
  }
  .Product_home .P_content .P_product div .P_title:nth-child(2) {
    margin: 12px 20px 0 20px;
  }
  .Product_home .P_header .P_category {
    font-size: 1.8rem;
  }
  .Contact_home .C_header .C_title {
    font-size: 1.8rem;
  }
  .Contact_home .C_form div form {
    padding: 0 0 10px 0;
    width: 350px;
  }
  .Contact_home .C_form div form .F_element {
    width: 300px;
  }
  .Contact_home .C_form div form .F_element input {
    width: 100%;
  }
  .Contact_home .C_form div form .F_submit {
    padding: 10px 100px;
  }
}
@media ((min-width: 768px) and (max-width: 992px)) {
  .Product_home .P_content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .Product_home .P_content .P_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 1px solid gray;
    border-radius: 8px;
  }
  .Product_home .P_content .P_product .P_img {
    width: 150px;
    border-radius: 50%;
    padding: 10px;
  }
  .Product_home .P_content .P_product div {
    display: flex;
    flex-direction: column;
  }
  .Product_home .P_content .P_product div .P_title {
    font-size: 1rem;
    margin: 0 20px;
    font-weight: 600;
    padding: 3px 0 0 0;
  }
  .Product_home .P_content .P_product .P_price {
    font-weight: bold;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .Product_home .P_content .P_product button {
    margin: 10px;
    padding: 0.5rem 4rem;
    background-color: #cf2421;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .Product_home .P_content .P_product button .P_cart_icon {
    width: 25px;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  .Product_home .P_content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .Product_home .P_content .P_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 1px solid gray;
    border-radius: 8px;
  }
  .Product_home .P_content .P_product .P_img {
    width: 150px;
    border-radius: 50%;
    padding: 10px;
  }
  .Product_home .P_content .P_product div {
    display: flex;
    flex-direction: column;
  }
  .Product_home .P_content .P_product div .P_title {
    font-size: 1rem;
    margin: 0 20px;
    font-weight: 600;
    padding: 3px 0 0 0;
  }
  .Product_home .P_content .P_product .P_price {
    font-weight: bold;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .Product_home .P_content .P_product button {
    margin: 10px;
    padding: 0.5rem 4rem;
    background-color: #cf2421;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  .Product_home .P_content .P_product button .P_cart_icon {
    width: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
