@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.Navbar {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    height: 120px;
    background-color: #6f6565;
    border-bottom: 7px solid #ee5351;
}
.Navbar .Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Navbar .Logo img{
    width: 75px;
}
.Navbar-Links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.Navbar-Links ul {
    display: flex;
    list-style:none;
    justify-content: end;
}
.Navbar-Links ul a{
    margin: 10px 30px 0 10px;
    text-decoration: none;
    list-style-type: none;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:white;
    padding: 4px 5px 4px 5px;
    transition: 0.3s ease;
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.Navbar-Links ul a:hover,
.Navbar-Links ul a:active{
    color: #bf3a3a;
    border-bottom: 3px solid #bf3a3a;
}
.Home{
    width: 100%;
    min-height: 100vh;
    background:rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr 0.6fr;
}
.Home-main{
    background-image: url(../img/Home-Brackgroundd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 7px solid #ee5351;
}
.Home-main h1{
    margin-bottom: 200px;
    margin-left: 130px;
    font-size: 3rem;
    color: #ee5351;
    font-weight: bolder;
    border-bottom: 2px solid #b73939;
    position: absolute;
    font-family: "Quicksand", sans-serif;
}
.Main-text{
   display: flex;
   flex-direction: column;
   margin: 10px 0 0 130px;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   position: absolute;
}
.Main-contact{
    display: flex;
    margin: 200px 0 0 165px;

}
.Main-contact button{
    padding: 15px 28px;
    background-color: #bc4442;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}
.Main-contact button:hover{
    box-shadow: 0 0 30px #cf2421;
 }
.Main-contact button a{
    text-decoration: none;
    list-style-type: none;
}

.Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.Content-header{
    padding: 25px 0 50px 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}
.hr{
    border-bottom: 1px solid gray;
    padding-bottom: 100px;
}
.Main-Product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Main-Product p{
    padding: 15px 0 0 0;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.Product-Icon{
    width: 100px;
}
.Reviews-title{
    padding: 40px 0 0 0;
}
.Content-reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    padding: 0 0 100px 0;
}
.Review{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
.Review-Icon{
    width: 100px;
}
.Review p{
    padding: 15px 0 0 0;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.Review-box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.Review-box p{
    font-size: 1rem;
}
.Product-Home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    width: 100%;
    min-height: 100vh;
    background:rgb(241, 241, 241);
}
.Category-title{
    font-size: 2rem;
}
.Products-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    justify-self: center;
    padding: 10px;
}
.Product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 1px solid gray;
    border-radius: 8px;
}
.Product-img{
    width: 150px;
    border-radius: 50%;
    padding: 10px;
}
.Product p{
    font-size: 1rem;
}
.Product button{
    margin: 10px;
    padding: 5px 80px;
    background-color: #cf2421;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}
.Product-price{
    font-weight: bold;
    padding: 10px;
}
.Cart-icon{
    width: 25px;
}
.Contact-home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    width: 100%;
    min-height: 100vh;
    background:rgb(241, 241, 241);
}
.Form-Container{
    display: flex;
    justify-content: center;
    
}
.Form-Container div form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid black;
    width: 500px;
    
}
.Form-element{
    padding: 10px 0 10px 0;
    width: 400px;
    margin-left: 25px;
}
.Form-element input{
    width: 400px;
}
.Form-element textarea{
    resize: none; /* Deshabilita el redimensionamiento */
    width: 100%;
    min-height: 200px;
}
.Form-element p{
    padding: 0 0 10px 0;
}
.Form-Submit{
    background-color: #cf2421;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 80px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    height: 120px;
    background-color: #6f6565;
    border-top: 7px solid #ee5351;
    display: flex;
    justify-content: center;
}
.footer p{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
